@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Alef", "Space Mono", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #4d4d4d;
  background-color: rgba(249, 249, 249, 1);
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a {
  color: #ff9000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #ff9000;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

/* First page */

#fh5co-header,
.fh5co-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 100%;
}

#fh5co-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 144, 0, 0.6);
}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
#fh5co-header .display-tc h1,
#fh5co-header .display-tc h2,
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#fh5co-header .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  padding: 4px 15px;
  position: relative;
}
#fh5co-header .display-tc h1 span:before,
.fh5co-cover .display-tc h1 span:before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: "";
  background: #fff;
  margin-left: -30px;
}
#fh5co-header .display-tc h1 span:after,
.fh5co-cover .display-tc h1 span:after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: "";
  background: #fff;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #fh5co-header .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #fh5co-header .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#fh5co-header .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}
#fh5co-header .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}

#fh5co-profile,
#fh5co-about,
#fh5co-resume,
#fh5co-skills,
#fh5co-work {
  padding: 9em 0;
  
}

/* Style the paragraphs */
.about-text {
  line-height: 1.6;
  color: #666;
  margin-top: 25px;
}

#fh5co-work {
  background-image: url(../images/cover_bg_3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

#fh5co-work::before {
  content: "";
  background-color: rgba(255, 144, 0, 0.6); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#fh5co-skills {
  background-image: url(../images/cover_bg_3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

/* Style the orange color overlay */
#fh5co-skills::before {
  content: "";
  background-color: rgba(255, 144, 0, 0.6); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#fh5co-skills h2,
#fh5co-skills h3 {
  color: white;
}

#fh5co-started {
  background-image: url(../images/cover_bg_3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 3em;
}

/* Style the orange color overlay */
#fh5co-started::before {
  content: "";
  background-color: rgba(255, 144, 0, 0.6); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.col-md-8 > p {
  font-family: "Alef", "Verdana";
  font-size: 20px;
}

.custom-width {
  width: 80% !important;
  margin: 0 auto; /* Center the container horizontally */
}

.col-md-8 > h1 {
  font-family:  "Space Mono", 'Alef', serif;
  font-size: 33px;
  color: #333;
  margin-bottom: 0px;
}

.col-md-8 > h2 {
  font-size: 33px;
}

.section__title {
  font-size: 33px;
  margin-bottom: 40px;
}

.fh5co-bg-dark .fh5co-heading h2 {
  color: #fff !important;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #ff9000;
  padding-left: 10px;
  padding-right: 10px;
}

.fh5co-heading {
  margin-bottom: 1em;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.timeline-heading > h3 {
  font-family: "Alef";
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: #ff9000;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
  font-family: "Alef";
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
.progress-wrap {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.progress-wrap h3 {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  font-family: "Alef";
  /* font-family: monospace; */
}
.progress-wrap h3 .name-left {
  float: left;
}

.progress {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
}

.progress-bar {
  background-color: #2f3c4f;
  height: 5px;
  display: block;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 1);
}
.progress-bar.progress-bar-1 {
  background-color: rgb(255, 27, 27) !important;
}
.progress-bar.progress-bar-2 {
  background-color: rgba(0, 204, 255, 1) !important;
}
.progress-bar.progress-bar-3 {
  background-color: rgba(0, 204, 0, 1) !important;
}
.progress-bar.progress-bar-4 {
  background-color: rgba(255, 43, 255, 1) !important;
}
.progress-bar.progress-bar-5 {
  background-color: rgba(89, 43, 255, 1) !important;
}
.progress-bar.progress-bar-6 {
  background-color: rgba(255, 27, 27, 1) !important;
}
.progress-bar.progress-bar-7 {
  background-color: rgba(0, 204, 255, 1) !important;
}
.progress-bar.progress-bar-8 {
  background-color: rgba(0, 204, 0, 1) !important;
}
.progress-bar.progress-bar-9 {
  background-color: rgba(255, 43, 255, 1) !important;
}
.progress-bar.progress-bar-10 {
  background-color: rgba(89, 43, 255, 1) !important;
}

.progress-wrap {
  margin-bottom: 33px;
}

.work .desc span {
  font-family: "Space Mono", monospace;
}

.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .desc h3 {
  font-size: 22px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  color: rgba(0, 0, 0, 1);
}
.work .desc span {
  display: block;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
/* @media screen and (max-width: 768px) {
  .work .desc {
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} */
.work:hover .desc {
  opacity: 1;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: #fff;
  color: #ff9000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Alef", "Verdana";
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}
/* Last page */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Space Mono", Arial, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.col-padding {
  padding: 6px !important;
  margin: 0px !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

/* Testimonial
   ======================================= */
.testimonial__wrapper {
  padding: 5rem 0;
}

.testimonial__item {
  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  width: 100%;
  max-height: 600px;
  max-width: 45rem;
  padding: 4rem;
  margin-bottom: 2rem;
}

/* Reduce font size for testimonial text */
.testimonial__text {
  margin-bottom: 3rem;
  font-size: 1px;
}

/* Make all the tabs the same size */
.testimonial__item {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.testimonial__data {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testimonial__img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 153, 0, 0.7);
}

.testimonial__name {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.testimonial__description {
  font-size: var(--fs-xs);
}

.testimonial__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--color-primary);
  font-size: 3rem;
}

.testimonial__wrapper .swiper-wrapper {
  padding-bottom: 5rem;
}

.testimonial__wrapper .swiper-pagination-bullets {
  justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet {
  background-color: var(--color-text);
  width: 1.3rem;
  height: 1.3rem;
}

.testimonial__wrapper .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.fh5co-about {
  /* Colors
  ======================================= */
  --color-primary: #ff4d4d;
  --color-secondary: #131c28;
  --color-secondary-light: #222b37;
  --color-text: #6c6c6c;
  --color-title: #222b37;
  --color-gray: #f5f7ff;
  --color-white: #fff;
  /* Typography 
  =======================================*/
  --font-body: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* font size */
  --fs-xs: 1.4rem;
  --fs-sm: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: clamp(4rem, 5vw, 6rem);
  /* Layout
   =======================================*/
  --width-container: 110rem;
  --height-header: 10rem;
  --zindex-menu: 1000;
  --zindex-fixed: 1010;
  /* Effects 
   ======================================= */
  --shadow: 30px 20px 80px 0px #e4edf5;
  --shadow-header: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
  --shadow-menu: -10px 0px 35px 0px rgba(0, 0, 0, 0.06);
  --transition: 0.4s ease-out;
}

/* body {
  font-family: var(--font-body);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: var(--color-text);
  margin-top: var(--height-header);
} */

/* Reusable classes
   ======================================= */

/* Layout */
.section {
  padding: 10rem 0 8rem;
}

.section__header {
  text-align: center;
}

.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
}

.d-grid {
  display: grid;
  gap: 3rem;
}
